.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.container__image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.8);
}
.container__title{
    font-size: 40px;
    font-weight: 500;
    color: white;

}