.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    min-height: 100vh;
}
.container__image  {
    width: 30%;
    height: 200px;
} 
.container__title{
    font-size: 28px;
    font-weight: 500;
    color: #FF6060;
}
.container__Link{
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
    color: #FF6060;
}
