.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
    height: 100vh;
    padding: 0 50px;
}

/*mobile version */

@media screen and (max-width : 767px) {
    .container {
        padding: 0;
    }
}