.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 200px;
    background-color: black;
    margin-top: 50px;
}

.container__image {
    width: 130px;
    height: 25%;
}

.container__span {
    font-size: 20px;
    font-weight: 500;
    color: white;
}