.container {
    position: relative;
    margin: auto;
    max-width: 1440px;
}

/*mobile version */

@media screen and (max-width : 767px) {
    .container {
        max-width: 768px;
    }
}

/*tablet version */

@media screen and (min-width:768px) and (max-width:1023px) {
    .container-body {
        max-width: 1024px;
    }
}