.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 75%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    color: white;
    height: 45px;
    cursor: pointer;
    padding: 0 20px;
}

.title{
    font-size: 20px;
    font-weight: 500;
}
.icon{
    font-size: 20px;
    transition: all ease 0.9s;
}
.content{
    font-size: 16px;
    font-weight: 400;
    background-color: #F6F6F6;
    color: #FF6060;
    padding: 20px;
}
.contentHide {
    overflow: hidden;
    transition: height ease 0.9s;
}
    
.contentShow {
    transition: height ease 0.9s;
}

